In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
data=pd.read_csv('Placement_Data_Full_Class.csv');
data.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [24]:
data.drop("sl_no", axis=1, inplace=True)

In [25]:
data.drop(['ssc_b','hsc_b'], axis=1, inplace=True)
data.dtypes

gender             object
ssc_p             float64
hsc_p             float64
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [26]:
data.gender.value_counts()

M    139
F     76
Name: gender, dtype: int64

In [27]:
data_clf = data.copy()
data_reg = data.copy()

In [28]:
# Seperating Features and Target
X = data_clf[['gender', 'ssc_p', 'hsc_p', 'degree_p', 'degree_t', 'workex','etest_p', 'mba_p',]]
y = data_clf['status']

In [29]:
#One-Hot Encoding
X = pd.get_dummies(X)
colmunn_names = X.columns.to_list()

In [30]:
X.drop(['gender_F','degree_t_Others','workex_No','degree_t_Comm&Mgmt'], axis=1, inplace=True)

In [31]:
colmunn_names = X.columns.to_list()

In [32]:
colmunn_names

['ssc_p',
 'hsc_p',
 'degree_p',
 'etest_p',
 'mba_p',
 'gender_M',
 'degree_t_Sci&Tech',
 'workex_Yes']

In [33]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler()
#X_scaled = scaler.fit_transform(X)

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [35]:
from sklearn.linear_model import LogisticRegression
logistic_reg = LogisticRegression()
logistic_reg.fit(X_train, y_train)
y_pred = logistic_reg.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [36]:
from sklearn.metrics import accuracy_score, classification_report
accuracy_score(y_test, y_pred)

0.8769230769230769

In [37]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

[[14  6]
 [ 2 43]]

In [39]:
import pickle

Project="./"
model_path=Project+"placement.pkl"
pickle.dump(logistic_reg,open(model_path,'wb'))

In [40]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

In [41]:
data_clf.dropna(inplace=True)

In [42]:
y = data_clf['salary']

In [43]:
X = data_clf[['gender', 'ssc_p', 'hsc_p', 'degree_p', 'degree_t', 'workex','etest_p', 'mba_p',]]
X = pd.get_dummies(X)
X.drop(['gender_F','degree_t_Others','workex_No','degree_t_Comm&Mgmt'], axis=1, inplace=True)
colmunn_names = X.columns.to_list()
colmunn_names

['ssc_p',
 'hsc_p',
 'degree_p',
 'etest_p',
 'mba_p',
 'gender_M',
 'degree_t_Sci&Tech',
 'workex_Yes']

In [44]:
y

0      270000.0
1      200000.0
2      250000.0
4      425000.0
7      252000.0
         ...
209    216000.0
210    400000.0
211    275000.0
212    295000.0
213    204000.0
Name: salary, Length: 148, dtype: float64

In [45]:
y[y > 400000]

4      425000.0
39     411000.0
53     450000.0
77     500000.0
95     420000.0
119    940000.0
150    690000.0
163    500000.0
174    500000.0
177    650000.0
Name: salary, dtype: float64

In [46]:
X = X[y < 400000]
y = y[y < 400000]

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [49]:
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)

LinearRegression()

In [50]:
y_pred=lin_reg.predict(X_test)
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test, y_pred))

-0.15485548144969785
31169.49134664788

In [53]:
import pickle
Project="./"
model_path=Project+"salary.pkl"
pickle.dump(lin_reg,open(model_path,'wb'))